body {
    font-family: "Goldman";
    font-size: xx-small;
    background-image: url("https://bit.ly/3qw4z7M");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.main_container {
    height: 100vh;
}

.span {
    width: fit-content;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.row {
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    margin: 2px 0 2px 0;
    min-height: fit-content;
}

p, h5 {
    text-align: center;
    margin: 0;
}

.btn {
    font-size: 10px;
}

.col {
    display: flex;
    align-items: center;
}

img:hover {
    opacity: 0.7;
}

.first_row {
    text-align: center;
}

.second_row {
    justify-content: space-evenly;
}

.third_row {
    flex-wrap: wrap;
}

.fourth_row {
    flex-wrap: wrap;
}

.fifth_row {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sixth_row {
    margin-top: 20px;
}