.flicking-viewport {
  transition: height 500ms;
  height: 50vh;
}

.flicking-panel {
  align-items: flex-end;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 30px 20px;
  position: relative;
  width: 50%;
  background-color: #f2a65e !important;
  color: #fff !important;
}

.ninja {
  visibility: hidden;
  display: none;
}

iframe {
  height: 100vh;
  width: 100vw;
}

.ticTacToe {
  background-image: url("https://cdn.pixabay.com/photo/2017/07/31/21/45/toys-2561392_1280.jpg");
  background-size: cover;
  background-position: center;
}

.trivia {
  background-image: url("https://images.unsplash.com/photo-1570937943292-a574bd5bc722?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  background-position: center;
}

.rockPaperScissors {
  background-image: url("https://images.unsplash.com/photo-1618214839021-3fbe98a597bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062&q=80");
  background-size: cover;
  background-position: center;
}

.mineSweep {
  background-image: url("https://images.unsplash.com/photo-1469817582067-f479697809fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  background-position: center;
}

.lights {
  background-image: url("https://images.unsplash.com/photo-1507494924047-60b8ee826ca9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGZsYXNoaW5nJTIwbGlnaHRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
  background-size: cover;
  background-position: center;
}

.memCards {
  background-image: url("https://images.unsplash.com/photo-1646809014391-14d6c43d9c44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
}

.kanye {
  background-image: url("https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
}

#menuToggle {
  width: 40;
  height: 40;
  z-index: 1;
}

#navTitle {
  font-family: "Rubik Iso", cursive;
  color: yellow;
  width: 100%;
  display: block;
  text-align: center;
  position: absolute;
  /* float: none; */
  /* vertical-align: top; */
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
