#gameTitle{
font-size: 100px;

}
#statusText{
  font-size: 60px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
section{
  text-align: center;
}
.lastBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
td {
  width: 150px;
  height: 150px;
  border: 7px solid orange;
  font-size: 90px;
  color: red;
  text-align: center;
  backdrop-filter: blur(13px);
  background-color: rgba(255, 255, 255, 0.5);
  /* padding: 5%; */
}
#game-board {
  border-radius: 100px;
}